/* CSS declarations go here */

#login-buttons {
  display: inline-block;
  height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}