<template name="currentUserCard">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">{{user.name}}</span>
      <p>Username: {{user.username}}</p>
      <p>Email: {{user.email}}</p>
      <p>Location: {{user.location}}</p>
      <p>Followers: {{user.followers}}</p>
      <p>Following: {{user.following}}</p>
    </div>
    <div class="card-action">
      <a href="#" class="toggle-private">
        {{#if user.private}}
          Private
        {{else}}
          Public
        {{/if}}
      </a>
      <a href="#" class="delete-card">Delete</a>
    </div>
  </div>
</template>