<template name="userCard">
  <div class="col s6">
    <div class="card teal darken-1 z-depth-3">
      <div class="card-content white-text">
        <span class="card-title">{{name}}</span>
        <p>Username: {{login}}</p>
        <p>Email: {{email}}</p>
        <p>Location: {{location}}</p>
        <p>Followers: {{followers}}</p>
        <p>Following: {{following}}</p>
      </div>
      <div class="card-action teal darken-3">
        <a href="{{url}}">Visit their Github</a>
      </div>
    </div>
  </div>
</template>